.search-container{
	padding: 20px 10px;
}

/* Filter Search */
.searchbar .hide-search{
	display: none;
}

.searchbar .filter-search i{
	position:absolute;
	color: #42a7f9;
    top: 8px;
    font-size: 20px;
    left: 25px;
}

.searchbar .filter-search input{
	padding-left: 35px;
    border: 1px solid #42a7f9;
    letter-spacing: 1px;
}

.searchbar .filter-search input:focus{
	outline: 0px;
    box-shadow: none;
}
/* Filter Search */

/* Autocomplete Search */
.searchbar .autocomplete-search i{
	position:absolute;
	color: #42a7f9;
    top: 8px;
    font-size: 20px;
    left: 25px;
    z-index: 1;
}

.searchbar .autocomplete-search .react-typeahead-input-container input{
	padding-left: 35px!important;
    border: 1px solid #42a7f9!important;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.searchbar .autocomplete-search ul#react-typeahead-options-1{
	padding-left: 0px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 1px #42a7f9;
    border-top: 0px;
    color: #555;
    z-index: 5;
}

.searchbar .autocomplete-search ul#react-typeahead-options-1 li{
	list-style: none;
	padding-left: 10px;
}
.searchbar .autocomplete-search ul#react-typeahead-options-1 li:hover{
	background-color: rgb(234, 246, 255);
}

/* Autocomplete Search */

.btn-search{
    padding: 7px 28px;
    margin-right: 5px;
    background-color: rgba(144, 202, 249, 0.55);
    color: #fff!important;
    cursor: pointer;
    float: left;
    webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
.btn-search:hover,
.btn-search.active{
	background-color: #42a7f9;
}

/*Search Content*/

.search-content{
    padding: 15px 0px;
}

.search-content .item:hover .controls{
    max-height: 100%;
}

.search-content .item-image{
    padding: 2px;
    border: 1px solid #42a7f9;
    position:relative;
}

.search-content .item-image img{
    width: 100%;
}

.search-content .item-title{
    font-size: 13px;
    min-height: 50px;
    padding-left: 5px;
}

.search-section{
    background-color: #fff;
    margin-top: 20px;
}

.search-section.active{
    background-color: rgba(144, 202, 249, 0.55);
}

.search-title{
    margin-top: 20px;
}
.search-title h4{
    background-color: #42a7f9;
    color: #fff;
    padding: 6px 10px 7px 10px;
}

.no-search h3{
    text-align: center;
}

/*Search Content*/

/*Button Controls*/
.controls{
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    left: 0;
    overflow-y: hidden;
    max-height: 0px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.btn-control{
    width: 100%;
    padding: 4px;
    font-size: 16px;
    background-color: rgba(144, 202, 249, 0.55);
    color: #fff!important;
    cursor: pointer;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 2px;
}
.btn-control.control-hide{
    display: none;
}

.btn-control:hover{
    background-color: #42a7f9;
}

/*Button Controls*/

/*Modal*/
.modal-show{
    display: block!important;
    opacity: 1!important;
    background-color: rgba(0, 0, 0, 0.73);
}

.modal-show .modal-dialog{
    margin-top: 200px;
    z-index: 10;
}

#videoModal .modal-content{
    border: 2px solid #42a7f9;
    padding: 3px;
    border-radius: 0px;
}

#videoModal .video-description{
    font-size: 14px;
    width: 100%;
}

#videoModal .modal-footer button,
#videoModal .modal-footer button:focus{
    outline: none;
    background-color: #42a7f9;
}

/*Modal*/

